body {
    background-image: url(../../assets/quiz-background.jpg);
    background-size: 100% auto;
}

.container {
    bottom: 0;display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px;
}

form {
    display: flex;
    width: 80%;
    text-align: center;
}

.pic-1 {
    float: left;
    width: 80%;
    height: auto;
    margin-top: 300px;
}

.pic-2 {
    width: 80%;
    height: auto;
}

.pic-3 {
    float: right;
    width: 80%;
    height: auto;
    margin-top: 300px;
}

button[type='radio'] {
    background-color: transparent;
    border-color: transparent;
}

.char-img {
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
}

