body {
    background-image: url(../../assets/quiz-background.jpg);
    background-size: 100% auto;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

form {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.pic-1 {
    width: 20%;
    z-index: -1;
}

.pic-2 {
    width: 20%;
    z-index: -1;
}

.pic-3 {
    width: 20%;
    z-index: -1;
}

button {
    background-color: transparent;
    border-color: transparent;
}

.thoughts {
    height: auto;
    width: 70%;
}

.char-img {
    height: auto;
}