body {
    background-image: url(../../assets/clues-bkgd.png);
    background-size: 100% auto;
}

#rules {
    margin: 120px;
    margin-bottom: 30px;
    text-align: center;
}

#left-container {
    display: flex;
    justify-content: center;
}

#right-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.clues {
    height: 240px;
    width: 220px;
    margin-right: 10px;
    margin-top: -30px;
    float: left;
    min-width: 220px;
    min-height: 240px;
}

.clues:hover {
    cursor: pointer;
    transform: translate3d(-2px, -2px, 0);
    -webkit-filter: drop-shadow(4px 4px 4px gray);
    filter: drop-shadow(4px 4px 4px gray);
}

.button-format { 
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.page-link {
    padding: 50px;
}