body {
    background-image: url(../../assets/clues-bkgd.png);
    background-size: 100% auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-item {
    max-height: 150px;
    margin-top: 30px;
}

#left-container {
    margin-left: 30px;
}

#right-container {
    margin-left: -150px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 5px;
    padding-left: 200px;
    padding-right: 200px;
}

.clues {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    float: left;
    min-width: 200px;
    min-height: 200px;
}

p {
    align-self: center;
    margin-top: 0;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}