html {
    background-image: url(../../assets/case-bkgd.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#background {
    background-image: url(../../assets/bio-folder.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    height: 1000px;
    width: 100%;
}

div.charactertext {
    max-width: 20%;
    text-align: center;
    margin-top: 5%;
    font-size: 1em;
    margin-left: 25%;
    margin-top: 150px;
    position: relative;
}

div.storytext {
    max-width: 20%;
    text-align: center;
    margin-top: 1%;
    font-size: 1em;
    margin-left: 25%;
    position: relative;
}

button {
    align-content: center;
    max-width: fit-content;    
}