html {
    background-image: url(../../assets/case-bkgd.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    width:95%;
}

.name-input {
    width: 300px;
    height: 30px;
    border-color: black;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    padding: 3px;
}


.bio-container {
    height: auto;
    width: 80%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-left: 200px;
}

.bio-story {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 190px;
    margin-left: 430px;
    height: auto;
    width: 40%;
}

h2 {
    margin-top: -10px;
}

p {
    margin: 5px;
}

.bio-bkgd {
    height: 88%;
    width: auto;
    position: fixed;
    bottom: 0;
    z-index: -1;
    margin-left: 30px;
}