input {
    display: none;
}

#userThrow {
    position: relative;
    top: 80px;
    right: 20px;
    display: flex;
    justify-content: center; 
    text-align: center;
}

#message {
    text-align: center;
}

#score {
    text-align: center;
}

#generatedThrow {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

body {
    background-color: thistle;
}

.radio-image {
    border: 5px solid royalblue;
    border-radius: 100%;
    width: 15%;
    margin: 0;
    position: relative;
}

input:checked + .radio-image {
    border: 5px solid red;
}

.hidden {
    visibility: hidden;
}

#generatedThrow img {
    width: 80%;
    position: relative;    
}

.possum-bkgd {
    height: auto;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: -10;
    border-color: transparent;
    margin-bottom: -6px;
}