body {
    background-image: url(../../assets/egg-background.png);
    background-size: 100% auto;

}

.icons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.us {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 1.5rem;
}

.icon {
    width: 100%;
    margin-left: 35px;
}

.credits {
    padding: 50px;
    text-align: center;
    margin-top: -80px;
}