main {
    font-family: 'Ubuntu', sans-serif;
    font-kerning: 2px;
    line-height: 1.25rem;
}

h1 {
    font-family: 'Seymour One', sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

button:hover {
    cursor: pointer;
}

.logo {
    height: auto;
    width: 60%;
}

.logo-button {
    background: transparent;
    border: none;
}

.logo-button:hover {    
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
