.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 2fr 1fr
}

.grid-item {
    max-height: 50px;
}

.side-image {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 100px;
}

#main {
    position: absolute;
    bottom: 0;
}

/*


h1 {
    display: flex;
    justify-content: center;
}



.main-image {
    margin-left: 200px;
}

p {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0;
}
*/