#main {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    text-align: center;
}

.story-image {
    height: auto;
    width: 100%;
    margin-left: 50px;
}

.result-container {
    margin-bottom: -20px;
    height: auto;
    width: 40%;
}

.button-container {
    padding: 20px;
    margin-right: 80px;
    margin-left: 50px;
}

#replay {
    margin-top: 30px;
}

.folder {
    width: 140%;
}