body {
    height: 460px;
}

.text {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    position: relative;
    bottom: -1px;
    width: 1000px;
    max-height: 150px;
}

.story-image {
    margin-top: 100px;
    width: 30%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}