html {
    background-image: url(../../assets/dice-assets/ufo-bkgd.png);
    background-repeat: none;
    background-size: 100%;
}

.dice-bkgd {
    position: fixed;
    bottom: 0;
    left: 220px;
    width: 80%;
    z-index: -10;
}

body {
    height: 500px;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
}

#alien-dice {
    margin-left: 50px;
    max-width: 10%;
}

#user-dice {
    margin-right: 50px;
    max-width: 10%;
}

div h1 {
    text-align: center;
}

div h2 {
    text-align: center;
}

.grid-item {
    margin-top: 100px;
}