html {
    background-image: url(../../assets/dice-assets/ufo-bkgd.png);
    background-repeat: none;
    background-size: 100%;
}

.dice-bkgd {
    position: fixed;
    bottom: 0;
    left: 100px;
    width: 90%;
    z-index: -10;
    margin-left: 30px;
}

body {
    height: 500px;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.dice-story {
    text-align: center;
}

#alien-dice {
    margin-left: 10px;
    height: 200px;
    max-width: 20%;
}

#user-dice {
    margin-right: 10px;
    height: 200px;
    max-width: 20%;
}

div h1 {
    text-align: center;
}

div h2 {
    text-align: center;
}

.grid-item {
    margin-top: 100px;
}